<h1>Ember Mailcheck</h1>

<a href="https://github.com/johnotander/ember-mailcheck">Github</a> <br><br>

{{mail-check inputClass='form-input' placeholder='Email'}} <br>

<pre>
\{{mail-check inputClass='form-input' placeholder='Email'}}
</pre>

<h3>A more customized example</h3>
{{mail-check
  inputClass='input'
  placeholder='Please enter an email address'
  hintMessage='That does not look like a valid email address'
  suggestionMessage='Did you mean to type'}}
<pre>
\{{mail-check
  inputClass='input'
  placeholder='Please enter an email address'
  hintMessage='That does not look like a valid email address'
  suggestionMessage='Did you mean to type'}}
</pre>

{{outlet}}
